<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Is teacher:</strong>
  <%= @user.is_teacher %>
</p>

<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %><br>

<%= link_to "My Courses", my_courses_path%><br>
<%= link_to "My Rubrics", my_rubrics_path%>

