<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>Course Rubrics</p>
<tbody>
  <% @course.rubrics.each do |rubric| %>
    <tr>
      <td><%= rubric.name %> -- </td> 
      <td><% rubric.courses.each do |course|%>
        <%= course.name %>
        <% end %></td>
      <td><%= link_to 'Show', rubric %></td>
      <% if !current_user.rubrics.include? rubric%>
        <td><%= link_to 'Add to My Rubrics', add_rubric_path(rubric) %></td>
      <% end %>
      <% if current_user.is_teacher %>
        <td><%= link_to 'Edit', edit_rubric_path(rubric) %></td>
        <td><%= link_to 'Destroy', rubric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %><br>
    </tr>
  <% end %>
</tbody>
<br>
<%= link_to 'Back', courses_path %>

