<%= form_for(@rubric) do |f| %>
  <% if @rubric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rubric.errors.count, "error") %> prohibited this rubric from being saved:</h2>

      <ul>
      <% @rubric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <p>Courses(Up to three)</p>
    <select name= "rubric[course_id1]">
      <option label=""></option>
    <% @courses.each do |course|%>
      <option value="<%=course.id%>"><%=course.name%></option>
    <% end %>
    </select>
    <select name= "rubric[course_id2]">
      <option label=""></option>
    <% @courses.each do |course|%>
      <option value="<%=course.id%>"><%=course.name%></option>
    <% end %>
    </select>
    <select name= "rubric[course_id3]">
      <option label=""></option>
    <% @courses.each do |course|%>
      <option value="<%=course.id%>"><%=course.name%></option>
    <% end %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
