<h1>My Rubrics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rubrics.each do |rubric| %>
      <tr>
        <td><%= rubric.name %></td>
        <td><%= link_to 'Show', rubric %></td>
        <% if !current_user.is_teacher %>
          <td><%= link_to 'Remove Rubric', remove_rubric_path(rubric) %>
        <% end %>
        <% if current_user.is_teacher %>
          <td><%= link_to 'Edit', edit_rubric_path(rubric) %></td>
          <td><%= link_to 'Destroy', rubric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_teacher %>
  <%= link_to 'New Rubric', new_rubric_path %>
<% end %>
<% if !current_user.is_teacher %>
  <%= link_to 'Add a rubric', rubrics_path %>
<% end %>